@import "reset";

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

header{
    padding: 128px 40px;
    border-radius: 10px;
    border: 1px solid #4B5563;
    text-align: center;

    h1{
        color: #111827;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    p{
        color: #4B5563;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 4rem;
    }

    .header-item{
        display: grid;
        grid-template-columns: repeat(4, 297px);
        grid-template-rows: repeat(1, 135px);
        gap: 4px;

        .item{
            border-radius: 6px 0px 0px 6px;
            background: #F5F5F5;
            padding: 32px 0;

            h3{
                color: #111827;
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 5px;
            }

            p{
                color: #4B5563;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

@media only screen and (max-width: 834px){
    .header-item{
        grid-template-columns: repeat(2, 297px);
        grid-template-rows: repeat(2, 135px);
        gap: 4px;
    }
}

@media only screen and (max-width: 1200px){
    .header-item{
        grid-template-columns: repeat(4, 297px);
        grid-template-rows: 135px;
        gap: 4px;
    }
}